/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
} */

html {
    font-family: 'Raleway', sans-serif;
}

/* body {
    background-color: #9fb4f2;
} */

span {
    font-weight: bold;
}

div {
    font-size: 20px;
}

/* стили для кнопки */
.myButton {
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color: #7892c2;
    border-radius: 13px;
    border: 2px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 22px;
    padding: 12px 44px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
}

.myButton:hover {
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    background-color: #476e9e;
}

.myButton:active {
    position: relative;
    top: 1px;
}

/* стили для кнопки */


/* h1 {
    color: orange;
}

h2 {
    color: blue;
}

p {
    color: orangered;
    background-color: aqua;
} */

.par-1 {
    color: chocolate;
    background-color: rgb(200, 214, 229);
    border: 2px solid transparent;
}

/* стили при наведении мышью */
.par-1:hover {
    background-color: rgb(197, 228, 254);
    border: 2px solid rgb(250, 190, 248);
    text-decoration: overline;
    color: crimson;
    cursor: pointer;
}

/* псевдоэлемент */
.par-1::before {
    content: '⛅ ';
}

.par-1::after {
    /* content: ' (' attr(href) ')'; */
}

.par-1 span {
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    color: blue;
}


.par-2 {
    color: purple;
    background-color: cadetblue;
    padding: 20px;
}

/* стили по ID */
#head-1 {
    color: deeppink;
    /* стили текста */
    /* font-size: 16px; */
    font-weight: 700;
    /* font-style: italic; */
    /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
    /* font-family: "Lucida Console", "Courier New", monospace; */
    display: inline-block;
}

.head {
    color: black;
}

.par-3 {
    color: rgb(48, 101, 148);
    background-color: rgb(151, 205, 252);

    /* граница */
    border: 3px solid rgb(170, 214, 252);
    /* border-left: 15px solid blue;
    border-right: 5px solid orchid;
    border-top: 3px solid red;
    border-bottom: 4px dashed sienna; */
    /* радиус скругления */

    border-radius: 10px;

    /* внешние отступы */
    /* margin: 24px; */
    /* margin-left: 30px; */
    /* margin: 10px 20px 15px 25px; */
    /* margin: 20px 40px; */
    /* margin: 20px 30px 25px; */
    margin: 0 auto;

    /* внутренние отступы */
    padding: 10px;

    /* ширина, высота */
    max-width: 500px;
    /* height: 30px; */
}

/***************************** .user *******************************/
.user.user-1 {
    color: #ffffff;
}

.user {
    max-width: 350px;
    padding: 10px;
    margin-right: 50px;
    border-radius: 8px;
    background-color: antiquewhite;
    color: #28438f;
    text-align: center;
    display: inline-block;
    transition: all 0.5s;
}

.user:hover {
    box-shadow: 0px 7px 61px -1px rgba(0, 0, 0, 0.22);
}

.user img {
    width: 100%;
    border-radius: 5px;
}

.user h2 {
    margin: 10px 20px;
    /* text-decoration: overline; */
    text-transform: uppercase;
    letter-spacing: 2px;
}

.user p {
    margin: 8px 16px;
    background-color: transparent;
}


/* абсолютное позиционирование */
/* контейнер */
.user-2 {
    background-color: #9fb4f2;
    position: relative;
}

/* дочерний элемент */
.user-2 .new-user {
    background-color: rgb(252, 162, 67);
    border: 2px solid bisque;
    width: 100px;
    border-radius: 5px;
    margin: 0;

    position: absolute;
    /* top: 50px;
    left: 50px; */
    /* bottom: -10px;
    right: -50px; */
    top: -10px;
    right: -50px;
}





.cities-list {
    /* list-style-type: "\1F44D"; */
    list-style-type: '⛅';
    /* list-style: none; */
}

.drinks-list {
    list-style-type: lower-alpha;
}

/* переходы */
.head-2 {
    background-color: #9fb4f2;
    color: aliceblue;
    border-radius: 8px;
    padding: 10px;
    border-bottom: 2px solid transparent;
    transition: all 0.5s;
}

.head-2:hover {
    background-color: #5b81f0;
    color: rgb(144, 164, 182);
    border-radius: 50px;
    cursor: pointer;
    /* text-decoration: underline; */
    border-bottom: 2px solid #ff0000;
}

/* анимация */
.animation {
    width: 200px;
    height: 200px;
    background-color: #5b81f0;
    margin: 20px;

    background-image: url('img/1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;

    /* настройки анимации */
    /* animation-name: my-animation;
    animation-duration: 5s; */
    /* animation-delay: 3s; */
    /* animation-iteration-count: infinite; */
    /* animation-direction: reverse; */
}

/* ключевые кадры */
@keyframes my-animation {
    0% {
        background-image: url('img/1.jpg');
        left: 0;
        top: 0;
    }

    20% {
        background-image: url('img/5.jpg');
        left: 50px;
        top: 50px;
    }

    40% {
        background-image: url('img/4.jpg');
        left: 100px;
        top: 100px;
    }

    60% {
        background-image: url('img/3.jpg');
        left: 200px;
        top: 200px;
    }

    80% {
        background-image: url('img/2.jpg');
        left: 100px;
        top: 100px;
    }

    100% {
        background-image: url('img/1.jpg');
        left: 0;
        top: 0;
    }
}

.box {
    width: 500px;
    height: 200px;
    box-sizing: border-box;
    background-color: #476e9e;

    padding: 20px;
    border: 5px solid tan;
    margin: 30px;
}