.pets {
    color: coral;
    background-color: aliceblue;
    padding: 10px;
    max-width: 500px;
}

.post {
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
    background-color: aliceblue;
}

.post .post-info {
    background-color: rgb(211, 233, 252);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}