/* стили для ширины экрана не более 650п */
@media(max-width: 650px) {
    .grid-container {
        grid-template-columns: repeat(3, auto);
    }

    .flex-container {
        justify-content: center;
    }
}

/* стили для ширины экрана не более 450п */
@media(max-width: 450px) {
    .grid-container {
        grid-template-columns: repeat(2, auto);
    }
}

/* стили для ширины экрана не более 450п */
@media(max-width: 350px) {
    .grid-container {
        grid-template-columns: auto;
    }
}